<a href="/">Home</a>
<form action="signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" value= "Create">
</form>
