body {
  font-family: sans-serif;
  text-align: center;
  background-image: url('https://media.eventhubs.com/images/2017/07/14_sf5stageguilecostume02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav img {
  height: 100px;
  width: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  margin: 0px 0px;
}

li a {
  font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 36px 16px;

  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.create {
  margin-left: 43%;
  text-align: center;
  display: grid;
  grid-template: 175px/ 130px 0px 0px
}

.post {
  margin-left: 43%;
  text-align: center;
  display: grid;
  grid-template: 10px / 158px
}

.title {
  font-size: 30px;
}

.register {
  text-align: right;
  margin-right: 9%;
}

.signup {
  margin-left: 82%;
  margin: -21% 78%;
  text-align: center;
  display: grid;
  grid-template: 10px / 158px;

}

.signup span {
  display: inline; /* the default for span */
  width: 300px;
  height: 300px;
  padding: 1px;
  border: 1px solid blue;
  background-color: grey;
}


.signup label {
  font-size: 20px;
  font-family: sans-serif;
  color: gold;
}

.create span {
  display: inline; /* the default for span */
  width: 300px;
  height: 300px;
  padding: 1px;
  border: 1px solid blue;
  background-color: grey;
}

.login {
  display: inline; /* the default for span */
  width: 300px;
  height: 300px;
  padding: 1px;
  border: 1px solid blue;
  background-color: grey;
}
