body {
  font-family: sans-serif;
  text-align: center;
  background-image: url('https://s3.amazonaws.com/twin-galaxies-www/assets/editorial/2018/09/dbfz-galactic-arena.JPG');
  background-repeat: no-repeat;

}

nav img {
  height: 100px;
  width: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  margin: 0px 0px;
}

li a {
  font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 36px 16px;

  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.rumble img {
  height: 300px;
  width: 500px;
}

.rumble {
  margin-left: 15%;
  display: grid;
  grid-template: 312px 36px / 515px 10px;;
}

.create {
  margin-left: 43%;
  text-align: center;
  display: grid;
  grid-template: 175px/ 130px 0px 0px
}

.post {
  margin-left: 43%;
  text-align: center;
  display: grid;
  grid-template: 10px / 158px
}

.title {
  font-size: 30px;
}

.register {
  text-align: right;
  margin-right: 9%;
}

.signup {
  margin-left: 82%;
  margin: -21% 78%;
  text-align: center;
  display: grid;
  grid-template: 10px / 158px;

}

.signup span {
  display: inline; /* the default for span */
  width: 300px;
  height: 300px;
  padding: 1px;
  border: 1px solid blue;
  background-color: grey;
}


.signup label {
  font-size: 20px;
  font-family: sans-serif;
  color: gold;
}

.create span {
  display: inline; /* the default for span */
  width: 300px;
  height: 300px;
  padding: 1px;
  border: 1px solid blue;
  background-color: grey;
}

.login span {
  display: inline; /* the default for span */
  width: 300px;
  height: 300px;
  padding: 1px;
  border: 1px solid blue;
  background-color: grey;
}
